@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.wrapper {
width: 100%;
height: 100%;

background-color: #191c32;
color: rgb(255, 255, 255);
}


.brand{
  margin-top: -7px;
}

.menu a {
 color: rgb(253, 253, 253);
 text-decoration: none;
 padding: 10px 20px;
}


.navbar{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}



.main{
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  grid-column-gap: 40px;
}
.main img{
  width: 300px;
  height: 300px;
  border: 5px solid rgb(255, 0, 0);
}

h1 {
  font-size: 3em;
}

span{
  color: rgb(151, 0, 0);
}

.about{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}


.about img{
  width: 90%;
  grid-column: 1/5;
}


.about-info {
  grid-column: 5/10;
  padding: 3em;
}

.about-info h2{
  font-size: 3em;
  color: #191c32;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: rgba(0, 255, 255, 0.808);
  margin-top: 5px;
  margin-bottom: 2.5em;

}

.about p{
  margin-bottom: 1m;
  font-size: 1.4em;
}

.info-content p{
  font-size: 1.2em;
  width: 100%;
}

.portafolio-headings{
  width: 100vw;
  padding: 5em;
}

.portafolio-headings h2{
  font-size: 2em;
}

.portafolio .container{
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
 
.card {
  width: 300px;
  background-color: rgb(22, 23, 122);
  color: rgb(255, 255, 255);
  height: 480px;
  margin: 1em;
}

.card-img{
  width: 100%;
  height: 300px;
  background-image: url(../img/botines.png);
  background-size: cover;
}

.card-title {
  padding: 20px;
}

.projects-links{
 display: flex;
 align-items: center;
 justify-content: center;
 color: rgb(255, 255, 255);

}

.projects-links a{
  color: aliceblue;
}

.projects-links i{
  font-size: 1.5em;
}

.card .detalles{
  display: flex;
  align-self: center;
  margin: 1em;
  width: 50%;
}

.card .detalles a{
  text-decoration: none;
  color: #191c32;
  text-transform: uppercase;
}

.proyect-detalles-content{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}

.portafolio{
  width: 100vw;
  color: rgb(255, 255, 255);
  background-color: #191c32;
}

.card-imga{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  background-size: cover;
}

.projects-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.projects-links i{
  font-size: 2.5em;}

.contact-seccion{
  background-color: #191c32;
  color: aliceblue;
}

.container-contact{
  padding: 3em;
  margin: 0 auto;
}

.contact-headings h2{
  font-size: 3em;
  margin-left: 50px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

.form input{
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.form textarea{
  height: 150px;
  background: none;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  padding: 1.5em;
}

.btn-sumbit{
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  color: aliceblue;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(204, 12, 12);
}

.btn-sumbit:hover {
  background-color: rgb(250, 0, 125);
  box-shadow: none;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 300px;
  background-color: rgba(236, 236, 236, 0.342);
}

.footer-content{
  font-size: 2em;
  margin-top: 30px;
}

.footer-content h5
{

  font-size: 1em;
}

.sotial-network{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 0.5em;
  font-size: 3em;
}

.projects-links input{
  padding: 10PX 20px;
  border-radius: 15px;
  cursor: pointer;
}

.dividerr{
    height: 4px;
    width: 60px;
    background-color: rgba(0, 255, 255, 0.808);
    margin-top: 5px;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

@media screen and (max-wicht:730px){
  .main{
    grid-template-columns: repeat(, 1fr);}
   
  }